.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}
.cta-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
    border-radius: 4px;
        width: 169px;
        height: 56px;
        max-width: 169px;
}
.cta-button:hover,
.cta-button:focus {
    background: #404bbf;
}
.hero-section {
background: #2e2f42;
}